.FormGroup {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-wrap: wrap;
	& > input {
		padding: 0.25rem;
		border: 1px solid var(--accent-color);
		border-radius: 0.15rem;
		outline: none;

		&:focus {
			border: 1px solid var(--primary-color);
		}
	}
}
.error {
	width: 100%;
	color: rgb(190, 51, 51);
}
@media screen and (min-width: 768px) {
	.FormGroup {
		width: 50%;
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
		& > input {
			padding: 0.5rem;
		}
	}
}
