.FormGroup {
	display: flex;
	flex-direction: column;
	text-align: left;
	flex-wrap: wrap;

	& > ::placeholder {
		color: var(--secondary-color);
	}
}
.error {
	width: 100%;
	color: rgb(190, 51, 51);
}
@media screen and (min-width: 768px) {
	.FormGroup {
		width: 50% !important;
		flex-flow: column nowrap;
		justify-content: space-around;
		gap: 1rem;
		& > input,
		textarea,
		button {
			padding: 0.5rem;
			flex: 1;
		}
	}
}
