.FormGroup {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-wrap: wrap;
	& > input {
		padding: 0.35rem;
		border: 1px solid var(--accent-color);
		border-radius: 10px;
		outline: none;
		margin-inline: auto;
		width: 75%;

		&:focus {
			border: 1px solid var(--primary-color);
		}
	}
}
.error {
	width: 100%;
	color: rgb(190, 51, 51);
}
@media screen and (min-width: 768px) {
	.FormGroup {
		width: 50%;
		flex-flow: column nowrap;
		justify-content: space-around;
		gap: 1rem;
		& > input {
			padding: 0.5rem;
			flex: 1;
		}
	}
}
