.Navigation {
	display: flex;
	position: absolute;
	height: 50%;
	border: 0.15rem solid var(--accent-color);
	background: var(--nav-back);
	align-items: center;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	z-index: 2;
	& > ul {
		display: grid;
		position: relative;
		list-style: none;
		height: auto;
		gap: 5rem;
		padding: 0 2rem 0 0;
		& > li {
			text-align: center;

			& > a {
				font-size: clamp(0.95rem, 1rem + 1vw, 1.35rem);
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.Navigation {
		top: 25%;
		border-left: none;
	}
}

@media (max-width: 768px) {
	.Navigation {
		position: absolute;
		width: 100vw;
		border-top-right-radius: 0;
		justify-content: center;
		border-bottom-left-radius: 2rem;
		border-top: 0;
		border-radius: 0 0 5% 5%;
		& > ul {
			position: absolute;
			text-align: center;
			top: 1.5rem;
			gap: 2rem;
			padding: 0;

			& > li {
				margin: 0;
			}
		}
	}
}
