html,
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-family: "roboto", "helvetica", "arial", sans-serif;
	line-height: 1.5;
	/* color-scheme: light dark; */

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--accent-color: rgba(50, 66, 74, 0.95);
	--border-color: rgba(96, 125, 139);
	--dark-blue: rgba(0, 179, 255, 0.323);
	--dark-blue-hover: rgba(0, 179, 255, 0.823);
	--nav-back: #1088d3;
	--background-grad: linear-gradient(
		rgba(75, 8, 109, 0.9),
		rgba(172, 192, 254, 0.45)
	);
	--background-grad-form: linear-gradient(rgb(75, 8, 109), rgb(116, 128, 161));
	--primary-color: #242424;

	--secondary-color: #cececefb;

	color: var(--secondary-color);
}

a {
	color: var(--secondary-color);
	text-decoration: underline;
}
a:visited {
	color: var(--secondary-color);
}
a:hover {
	text-decoration: none;
}
body {
	height: 100%;
	overflow-x: hidden;
	font-weight: 600;
	background: var(--background-grad);

	background-attachment: fixed;
	background-size: cover;
}
html {
	min-height: 100%;
}

button {
	all: unset;
	border: 2px solid var(--secondary-color);
	border-radius: 10px;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	min-width: 5rem;
	text-align: center;
}
button > * {
	cursor: pointer;
}
a {
	text-underline-offset: 0.5rem;
}
h1 {
	font-size: clamp(2rem, 1.5rem + 1.5vw, 3.5rem);
}

h2 {
	font-size: clamp(1.75rem, 1.25rem + 1.25vw, 2.5rem);
}

h3 {
	font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
}

h4 {
	font-size: clamp(1.25rem, 0.875rem + 0.75vw, 1.5rem);
}

h5 {
	font-size: clamp(1rem, 0.75rem + 0.5vw, 1.25rem);
}

h6 {
	font-size: clamp(0.875rem, 0.625rem + 0.375vw, 1rem);
}
p {
	font-size: clamp(1rem, 0.875rem + 0.5vw, 1.125rem);
}
.relative {
	position: relative;
}
.container {
	padding-inline: 2rem;
}
.completed {
	color: rgb(0, 154, 0);
}
.closed {
	color: rgb(217, 0, 0);
}
.open {
	color: orange;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--secondary-color: #242424;

		--primary-color: #d5d4d4fb;

		color: var(--secondary-color);
	}
	html {
		--background-grad: linear-gradient(
			115deg,
			rgba(75, 8, 109, 0.85) 55%,
			rgba(172, 192, 254, 0.85)
		);
	}
	a {
		color: var(--primary-color);
		text-decoration: underline;
	}
	.authLinks a {
		color: var(--secondary-color);
	}
	a:visited {
		color: var(--secondary-color);
	}
	a:hover {
		text-decoration: none;
	}
}
input,
textarea {
	all: unset;
	display: flex;
	border: 2px solid var(--secondary-color);
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
} */
/* @media (prefers-color-scheme: light) {
	:root {
		--secondary-color: #242424;

		--primary-color: #d5d4d4fb;

		color: var(--secondary-color);
	}

	a {
		color: var(--primary-color);
		text-decoration: underline;
	}
	.authLinks a {
		color: var(--secondary-color);
	}
	a:visited {
		color: var(--secondary-color);
	}
	a:hover {
		text-decoration: none;
	}
}
input,
textarea {
	all: unset;
	display: flex;
	border: 2px solid var(--secondary-color);
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
} */
/* @media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #242424;

		--secondary-color: #cececefb;

		color: var(--secondary-color);
	}

	a {
		color: var(--secondary-color);
		text-decoration: underline;
	}
	a:visited {
		color: var(--secondary-color);
	}
	a:hover {
		text-decoration: none;
	}
} */
@media screen and (max-width: 768px) {
	body {
		font-weight: 400;
	}
	.container {
		padding: 0 0.25rem;
	}
}
